<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jerra_Rose.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Jerra_Rose.My.MySettings>
            <setting name="AppStat" serializeAs="String">
                <value>Trial Version</value>
            </setting>
            <setting name="LoadCount" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SerialKey" serializeAs="String">
                <value>antonio</value>
            </setting>
        </Jerra_Rose.My.MySettings>
    </userSettings>
</configuration>
